 <!---->
    <div class="container">
    
    <%= render :partial => 'sprees/shared/error_messages', :locals => { :target => @user } %>
        <div class="register">
            <h2><%= Spree.t(:editing_user) %></h2>
            <div id="new-customer" class=" register-top" data-hook="login">
                 <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
                    <div data-hook="signup_inside_form">
                      <%= render :partial => 'sprees/shared/user_form', :locals => { :f => f } %>
                      <%= f.submit Spree.t(:update), :class => '' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<!---->