<% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
<li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", name: "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
  <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
      <div class="product-image">
        <%= link_to image_tag(product.display_image.attachment(:small), itemprop: "image"), url, itemprop: 'url' %>
      </div>
      <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>

      <%= render 'spree/shared/product_price', product: product %>
  <% end %>
</li>