
<fieldset id="password-credentials">
    <div>
    <span><%= f.label :email, Spree.t(:email) %></span>
    <%= f.text_field :email %>
    </div>

    <div>
    <span><%= f.label :email, Spree.t(:password) %></span>
    <%= f.password_field :password %>
    </div>

    <div>
    <span><%= f.label :email, Spree.t(:confirm_password) %></span>
    <%= f.password_field :password_confirmation %>
    </div>

</fieldset>
<div data-hook="signup_below_password_fields"></div>

